.navbar-brand {
  font-size: 32px;
}

.navbar {
  border-bottom:2px solid rgb(0,0,0);padding-bottom:10px
}

button {
  border-radius: 0;
}

#signout-button {
  height: 40.18px;
}

button {
  margin-right: 20px;
}
