<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input type="email" class="form-control" name="emailid" placeholder="Email" formControlName="email"
             required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="passwd" placeholder="Password" formControlName="password"
             required="required">
    </div>

    <div class="form-group styled-select slate">
      <select name="loginAs" formControlName="loginAs">
        <option *ngFor="let log of logAs" [value]="log" [label]="loginAsEnum[log]"></option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Log in</button>
    </div>
  </form>
</div>
<p class="text-center"><a [routerLink]="['/register']" routerLinkActive="active">Register</a></p>
